/* https://codepen.io/sasmal/pen/WNewVBx */

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFF;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*- - - - - - C O N T A C T - C A R D S - - - - - */

.card{
	width: 200px; /* ⬅ Size - Small (width: 200px), Medium (width: 225px), Large (width: 250px) */
	overflow: hidden;
	background-color: #FFFFFF;
   
	border-radius: 15px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	text-align: center;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

	.card:first-of-type{
		margin-right: 25px;
	}

	.card:hover{
		margin-top: -10px;
		box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	}

.banner{
	height: 100px;
	width: 100%;
	padding-top: 30px;
	background-color: #FAFAFA;
	background-size: cover;
	background-position: center;
}

.avatar{
	height: 100px;
	width: 100px;
	margin: auto;
	background-size: cover;
	background-position: center;
	background-color: #F1F1F1;
	border-radius: 100%;
    background-image: url(../img/profile_pic.jpg);
}

h3, a, i, p{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

	h3{
		margin-top: 45px;
		margin-bottom: 5px;
		font-size: 18px;
		color: #212121;
	}

	a, p{
		display: block;
		padding: 5px 0px;
		font-size: 14px;
		color: #9E9E9E;
		text-decoration: none;
	}

		a:hover{
			background-color: #FAFAFA;
			color: inherit;
		}

ul{
	margin-top: 10px;
	padding: 15px 0px;
	background-color: #FAFAFA;
}

	ul a{
		display: inline;
		margin-right: 10px;
	}

		ul a:last-of-type{
			margin-right: 0px;
		}

			ul a i:hover{
				transform: scale(1.5);
			}